html {
  font-size: 12px;
  font-family: 'Lucida Sans Typewriter', sans-serif;
}

h1 {
  font-size: 50px;
  text-align: center;
}

h2 {
  font-size: 35px;
  text-align: center;
}

p, li {
  font-size: 14px;
  line-height: 2;
  letter-spacing: 1px;
}

html {
  background-color: #ded6cc;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #e5b587;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #ff006e;
  text-shadow: 3px 3px 1px black;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

